#mainPage {
  display: none;
}
#homePage {
  background-color: #fff;
}
p {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  text-align: center;
}

h5{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  text-align: center;
}

ol {
  text-align: center;
}

.startButton {
  text-align: center;
}
.jumbotron {
  height: 200px;
  width: 100%;
}

.panel {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#time{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 60px;
    border-style: solid;
    border-color: #396;
}

.letter {
  height: 30px;
  width: 30px;
  display: inline;
  margin-right: 10px;
  font-size: 300%
}

.letterGroup {
position:relative;
height: 100px;
margin:0 auto;
padding: 10% 0;
}

body {
  background-color: #00ECB9;
}

#test{
  font-family: 'Bungee Hairline', cursive;
  font-size: 70px;
  font-weight: bolder;
  -webkit-animation-duration: 1s;

  opacity: 1;
}

#test2{
  font-family: 'Bungee HairLine', cursive;
  font-size: 40px;
  margin-bottom: 400px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  opacity: 1;
  color: #396;
}

h3{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#userForm {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.form-control {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h1 {
  text-align: center;
  color: white;
  font-style: normal;
  font-family: sans-serif;
  font-family: inherit;
  font-weight: bold;
}

.btn-success {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  float: none;
  margin-top: 30px;
}


* {margin: 0; padding: 0;}

.container {
	padding: 10px;
	text-align: center;
  display: block;

}

#words .crypto {
font-family: Webdings, sans-serif;
color: black;
}

 #words li{
  color: white;
}

ul {
  list-style: none;
  font-size: 200%;
}

#sidebarResults {
  background-color: rgba(0, 0, 0, 0.4);
  height: 800px;
  width: 400px;
  float: right;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

#endGame {
  font-size: 250%;
  display: none;
}

#endGame button {
  font-size: 50%;
}
